@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

body {
  font-family: "Outfit", sans-serif;
}

.slider {
  height: 60px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slide-track {
  display: flex;
  width: calc(200px * 10);
  animation: scroll 20s linear infinite;
}

.slide-img {
  height: 40px;
  margin: 0 30px;
  object-fit: contain;
  opacity: 0.8;
}
.slide-img:hover {
  opacity: 1;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
